<div class="sidebar-overlay" *ngIf="isOpen" (click)="closeSidebar()"></div>

<div class="sidebar" [class.open]="isOpen">
    <button class="close-btn" (click)="closeSidebar()">&times;</button>
    
    <nav>
        <ul>
            <li (click)="closeSidebar()"><a routerLink="/">Inicio</a></li>
            <li (click)="closeSidebar()"><a routerLink="/tienda">Tienda</a></li>
            <li (click)="closeSidebar()"><a routerLink="/nosotros">Nosotros</a></li>
            <li (click)="closeSidebar()"><a routerLink="/contacto">Contacto</a></li>
        </ul>
    </nav>

    <div class="social-icons">
        <a href="https://www.instagram.com/wegotallstore_sg/" target="_blank">Instagram</a>
    </div>
</div>
