@use '../../../styles.scss' as *;
@use 'sass:color';  

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    backdrop-filter: blur(5px);
}

.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    background: $primary-color;
    color: $secondary-color;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    z-index: 999;
    transition: right 0.3s ease-in-out;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    gap: 1rem;

    &.open {
        right: 0;
    }

    .close-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: none;
        border: none;
        font-size: 2rem;
        color: $secondary-color;
        cursor: pointer;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin-top: 6.5rem; 
        margin-left: 0;
        width: 100%;

        li {
            margin-bottom: 1rem;
            cursor: pointer;

            a {
                color: $secondary-color;
                text-decoration: none;
                font-size: 1.5rem;
                transition: color 0.3s;

                &:hover {
                    color: color.scale($secondary-color, $lightness: 20%);
                }
            }
        }
    }

    .social-icons {
        margin-top: 3rem; 
        text-align: center;
        width: 100%;

        a {
            color: $secondary-color;
            font-size: 1rem;
            font-weight: bold;
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
                color: color.scale($secondary-color, $lightness: 20%);
            }
        }
    }
}
