@use '../../../styles.scss' as *;
@use 'sass:color';

.home-container {
    position: relative;
    height: 100vh;
    max-height: 94vh; 
    background: url('../../../assets/images/about-us-banner.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; 

    .overlay {
        background: rgba(0, 0, 0, 0.5);
        padding: 2rem;
        border-radius: 8px;
        max-width: 80%;

        h1 {
            font-size: 3rem;
            font-weight: bold;
            color: $secondary-color;
        }

        p {
            font-size: 1.2rem;
            margin-top: 1rem;
            color: $secondary-color;
        }

        button {
            margin-top: 1rem;
            padding: 0.8rem 2rem;
            background: transparent;
            color: $secondary-color;
            cursor: pointer;
            transition: background 0.3s ease;

            &:hover {
                background: $secondary-color;
                color: $primary-color;
            }
        }
    }
}

@media (max-width: 768px) {
    .home-container {
        height: 100vh; 
        max-height: 94vh; 
        
        .overlay {
            max-width: 80%;

            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }

            button {
                padding: 0.6rem 1.5rem;
            }
        }
    }
}

a {
    color: $secondary-color;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
        color: color.scale($secondary-color, $lightness: 20%);
    }
}
