<div class="home-container">
    <div class="overlay">
        <h1>We Got All Store</h1>
        <p>Cada sneaker es una declaración de originalidad y clase.</p>
        <p>Te ofrecemos calzado exclusivo, 100% original y de la más alta calidad, seleccionado para quienes buscan marcar la diferencia con cada paso.</p>
        <button>💯 Solo productos auténticos y verificados.</button>
        <button>🚚 Envíos gratis a todo Costa Rica.</button>
        <button>🎯 Luce lo mejor, sin imitaciones.</button>
        <a href="https://www.instagram.com/wegotallstore_sg/" target="_blank"><h2>¡Haz tu pedido hoy y lleva tu estilo al siguiente nivel!</h2></a>
        
    </div>
</div>