@use 'sass:color';

$font-family: 'Poppins', sans-serif;
$sidebar-bg: rgba(0, 0, 0, 0.95);

$primary-color: #000000;
$secondary-color: #ffffff;
$accent-color: #f2f2f2;


body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
}
