.footer-container {
    background-color: #222;
    color: #fff;
    text-align: start;
    padding: 0.5rem 0 0.5rem 5%;
    font-size: 0.9rem;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}